@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("reset.css");
@import url("header.css");
@import url("home.css");
@import url("sections.css");
@import url("footer.css");

body {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 40px;
}

.container-img {
    max-width: 678px;
    max-height: 440px;
    width: 50%;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}

.logo {
    display: flex;
    align-items: center;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ebedef;
    margin-top: 24px;
    margin-bottom: 16px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    color: #23272a;
    background-color: white;
    border-radius: 28px;
    font-size: 14px;
    padding: 16px 32px;
    font-weight: 500;
    align-items: center;
    gap: 8px;
    height: 56px;
    justify-content: center;
    transition: color .2s ease, box-shadow .2s ease;
}

.button:hover {
    color: #5865f2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.button.button--black {
    color: white;
    background-color: #23272a;
}

.button.button--blue {
    max-height: 42px;
    color: white;
    background-color: #5865f2;
}

.button.button--blue:hover {
    color: #5865f2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

/* ---------------------------------------- Responsive Part --------------------------------------*/

@media screen and (max-width:768px) {
    .container {
        max-width: 1260px;
        margin: 0 auto;
        padding: 0 24px;
    }

    .button {
        font-size: 12px;
        padding: 14px 28px;
    }

}